/* Old: https://colorhunt.co/palette/164611 */
/* New: https://colorhunt.co/palette/165669 */

body {
    padding-top: 10px;
    color: #2F2E2E;
    line-height: 125%;
}

h2 {
    color: #B2DFFB;
    text-shadow: 1px 1px 1px #8F8F8F;
    font-size: x-large;
    font-family: 'Alef', cursive;
}

a:link {
    color: #2F2E2E;
    text-decoration:underline;
}

a:visited {
    color: #2F2E2E;
    text-decoration:underline;
}

a:hover {
    color: #FFC55C !important;
    text-decoration:underline;
}

.content-unit {
    height: 64px;
    text-align: left;
    background-image: url(daniel-corneschi-N6HTCyN50p0-unsplash.jpg);
    background-size: cover;
    color:#FFFFFF;
    border-radius: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.conference-title {
    padding-left: 15px;
    padding-right: 10px;
    font-size: 40px;
    font-family: 'Audiowide', cursive;
}

.page-title {
    font-size: 36px;
    padding-left: 25px;
    line-height: 64px;
    text-shadow: 1px 1px 1px #8F8F8F;
    font-family: 'Alef', cursive;
}

.page-home {
    font-size: 36px;
    line-height: 64px;
    padding-right: 15px;
}

.page-home a:link {
    color: #FFFFFF;
}

.page-home a:visited {
    color: #FFFFFF;
}

.page-home a:hover {
    color: #FFC55C;
}

.session {
    font-weight: bold;
}

.last_line {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.last_session_line {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: thin dotted gray;
}

.important {
    color: #FFC55C;
    font-weight: bold;
}

.highlight {
    color: #E7AAE4;
    font-weight: bold;
}

#sidebar {
  padding-top: 5px;
  text-align: left;
  min-width: 150px;
}
#sidebar h2 {
  font-family: 'Alef', cursive;
  text-shadow: 1px 1px 1px #8F8F8F;
  color: #B2DFFB;
  font-size: x-large;
}
#sidebarhome h2 {
  font-family: 'Audiowide', cursive;
  text-shadow: 1px 1px 1px #8F8F8F;
  letter-spacing: normal;
}
#sidebar ul {
  font-size: 18px;
  list-style-type: none;
}
#sidebar li {
  margin-top: 8px;
  line-height: 150%;
}

#sidebar a:link {
    color: #2F2E2E;
    text-decoration:none;
}

#sidebar a:visited {
    color: #2F2E2E;
    text-decoration: none;
}

#sidebar a:hover {
    color: #FFC55C;
}

#main {
    padding-top: 5px;
}

#main td {
    min-width:200px;
    padding-left:50px;
}
