/* Old: https://colorhunt.co/palette/164611 */
/* New: https://colorhunt.co/palette/165669 */
body {
    padding-top: 10px;
    margin: 0 auto;
} 

.cover-unit {
    height: 600px;
    text-align: center;
    background-image: url(daniel-corneschi-N6HTCyN50p0-unsplash.jpg);
    text-shadow: 2px 2px 5px #2F2E2E;
    background-size: cover; 
    color:#FFFFFF;
    border-radius: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body h1 { padding-top: 120px;}

a:link {
    color: #2F2E2E;
    text-decoration:none;
}

a:visited {
    color: #2F2E2E;
    text-decoration:none;
}

a:hover {
    color: #FFC55C !important;
    text-decoration:underline;
}

.cover-title {
    font-size: 60px;
    font-family: 'Audiowide', cursive;
}

.small-title {
    padding-bottom: 25px;
}

.caption {
    padding-bottom: 25px;
}

.cover-nav-area {
    padding-top: 15px;
}

.cover-nav-area a:link {
    color: #2F2E2E;
}

.cover-nav-area a:visited {
    color: #2F2E2E;
}

.cover-nav-area a:hover {
    color: #FFC55C;
}

.cover-nav {
    padding-bottom: 10px;
    text-align: center;
}

.cover-nav-title {
    font-family: 'Alef', cursive;
    color: #b2dffb;
    /*text-shadow: 2px 2px 1px #2F2E2E;*/
    text-shadow: 1px 1px 1px #8F8F8F;
    padding-right: 15px;
}

.cover-nav-item {
    padding-left: 15px;
    padding-right: 15px;
    border-left: solid;
    border-left-color: #b2dffb;
    border-left-width: thin;
    color: #151965;
}

.footer {
    text-align: center; 
    font-size:small;
    color: gray;
}

.colingbtn a:link {
    color: #2F2E2E !important;  
    text-decoration: none;
        text-shadow: none;

}

.colingbtn a:visited {
    color: #2F2E2E !important;  
    text-decoration: none;
    text-shadow: none;

}

.colingbtn a:hover {
    color: #2F2E2E !important;    
    text-decoration: none;
    background-color: #b2dffb !important;
    text-shadow: none;
}
